footer {
    background-color: #000; /* Fondo negro */
    padding: 20px;
    text-align: center;
    color: #fff;
    width: 100%; /* Ancho del 100% */
    max-width: 2800px; /* Ancho máximo de 1200px */
    margin: 0 auto; /* Centrar horizontalmente */
    padding-bottom: 40px; /* Agregar espacio adicional en el fondo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para darle profundidad */
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .social-media a {
    margin: 0 10px;
    transition: transform 0.2s ease;
  }
  
  .social-media a:hover {
    transform: translateY(-5px);
  }
  
  .social-media a:hover svg {
    fill: #fff;
  }
  
  .social-media a:hover svg.fa-facebook {
    fill: #4267B2;
  }
  
  .social-media a:hover svg.fa-instagram {
    fill: #E1306C;
  }
  
  .social-media a:hover svg.fa-youtube {
    fill: #FF0000;
  }
  
  .social-media a:hover svg.fa-twitter {
    fill: #1DA1F2;
  }
  
  .disclaimer {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
  }